@import url('../fonts/Roboto-Bold.ttf');

* {
  	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 0px;
  	height: 0px;
}
::-webkit-scrollbar-button {
  	width: 0px;
  	height: 0px;
}

body, html {
	background: #252526;
}

.btn {
	border-radius: 0;
}

.navbar {
	-ms-overflow-style: scrollbar;
	-webkit-app-region: drag;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar i, .navbar img {
	-webkit-app-region: no-drag;
}

.fa:hover {
	cursor: pointer; cursor: hand;
}

.navbar img:nth-of-type(1) {
	margin-left: 10px;
}

.provider {
	height: 50px;
	width: auto;
}

.provider.active {
	-webkit-filter: drop-shadow(0 0 5px #FFFFFF);
}

.app-content {
	margin-left: 30px;
	margin-right: 30px;
}

.btn-window-option {
    padding: 0 0.3em;
    line-height: 50px;
    display: inline-block;
}
.btn-window-option i, i.sizable {
	line-height: 36px;
	font-size: 24px;
	color: whitesmoke;
	cursor: pointer; cursor: hand;
}
.btn-window-option:hover {
	color: whitesmoke;
  	cursor: pointer; cursor: hand;
}

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #000000;
	opacity: 0.7;
	z-index: 9999;
	display: none;
}

.overlay-content {
	color: whitesmoke;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 2em;
	text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

.provider-header .input-group {
	margin-top: 25px;
}

#youtube-header span:nth-child(1) {
	color: #FFFFFF;
}
#youtube-header span:nth-child(2) {
	color: #EC2828;
}

#soundcloud-container {
	display: none;
}
#soundcloud-header span {
	color: #F7780F;
}

.dl-list {
	position: fixed;
	height: 100vh;
	width: 300px;
	left: -300px;
	z-index: 999;
	background: #191919;
	transition: all 0.2s ease-in-out;
}

.dl-list.active {
	left: 0;
	transition: all 0.2s ease-in-out;
}

.dl-list .dl-list-header, .dl-list .dl-list-content {
	margin-left: 1em;
	color: whitesmoke;
}

.dl-video .dl-thumbnail {
	max-width: 100%;
}

.dl-video .dl-thumbnail img {
	width: 150px;
	max-width: 150px;
	height: auto;
}

.dl-video .dl-thumbnail .progress {
	width: 150px;
	max-width: 150px;
	height: 10px;
	border-radius: 0;
}

.dl-area-search-bar {
	padding-top: 0.5em;
}

.dl-area-search-results {
	padding-top: 0.5em;
    height: 85vh;
    position: fixed;
    overflow-y: scroll;
}

.video {
	background: #191919;
	border: 3px solid #282828;
	width: 50%;
	margin-left: 35%;
	display: flex;
	flex-flow: row wrap;
}

.video .thumbail img {
	width: 20em;
	height: auto;
}

.video .thumbail, .video .details {
	padding: 0.2em;
	flex: 1 1 30%;
	flex-grow: 1;
    flex-basis: 0;
}
.video .details .title, .video .details .dl-button .btn {
	color: whitesmoke;
	font-size: 1.6em;
}
.video .details .dl-button .btn {
	border-radius: 0;
}

.img-center {
	margin: 0 auto;
}

@media (max-width: 991px) {
	.video {
		width: 75%;
		margin-left: 20%;
	}
}